/* #673AB7
#4CAF50
#8BC34A */

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  color: #673AB7;
}

#map {
	height: 70vh;
}

#place_card {
	min-height: 15vh;
}

#resize {
  text-align: center;
  border-radius: 16px;
  background-color: white;
  color: #673AB7;
  min-width: 32px;
  width: 32px;
  height: 32px;
}

#resize > .material-icons {
  font-size: 16px;
  }

.mdl-container {
  max-width: 1024px;
}

.mdl-layout__drawer-button {
  color: #673AB7;
}

.mdl-grid {
	padding: 0px;
}

.mdl-cell {
	width: 100%;
	margin: 0px;
}

.mdl-card-wide {
	width: 100%;
}

.mdl-card__title {
  background-color: #4CAF50;
}

.mdl-card__title .mdl-card__title-text {
  font-family: 'Roboto Slab', serif;
  color: #fff;
}

.mdl-button-rounded {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #673AB7;
  color: #673AB7;
  border-radius: 18px;
}

.mdl-button-rounded:hover {
  background-color: #673AB7;
  color: white;
}

.header_card {
	height: 100vh;
}
.header_card .mdl-card__title {
	height: 35vh;
  background-color: #4CAF50;
}

.header_card .mdl-card__title .mdl-card__title-text {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  color: white;
}

.space
  height 30px

.main-card
  margin 0 auto
  background-color whitesmoke
  
.accordion
  background-color silver
  cursor pointer
  padding 10px
  width 100%
  border none
  text-align center
  outline none
  font-size 15px
  transition 0.4s

.accordion.active
  background-color pink
    
.accordion:hover
  background-color lightpink
  
div.panel
  padding 0 18px
  background-color white
  max-height 0
  overflow hidden
  transition 0.4s ease-in-out
  opacity 0

div.panel.show
  opacity 1
  max-height 500px
    