/* #673AB7
#4CAF50
#8BC34A */

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  color: #673AB7;
}


#map {
  height: 50vh;
}