/* http://www.color-hex.com/color/ff5722 */

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
  background-color: #fff;
}

.container {
  max-width: 800px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  color: white;
  text-shadow: 3;
}

.jumbotron-heading {
  background: linear-gradient(rgba(204,69,27, 0.8), rgba(204,69,27, 0.8)), url("images/wood-pattern.png");
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.card > .card-header {
  background: linear-gradient(rgba(102,34,13, 0.8), rgba(102,34,13, 0.8)), url("images/wood-pattern.png");
}

#card_title {
  color: white;
}

#card_rating_span {
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.app-header {
  text-align: center;
  }

#map {
  position: relative;
  height: 50vh;
  /*background-color: #E3F2FD;*/
  background: linear-gradient(rgba(255,171,144, 0.35), rgba(255,171,144, 0.65)), url("images/vlissinghe.jpg") center;
  line-height: 25vh;
}

#map_placeholder {
  text-align: center;
  color: white;
}

#get_started {
  background-color: #F15854;
  color: white;
}

#btn_nl, #btn_br, #btn_en {
  background-color: rgba(255,171,144, 0.35);
  color: white;

}

#btn_nl:hover, #btn_br:hover, #btn_en:hover {
  background-color: rgba(255,171,144, 0.9);
  color: white;

}


